body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    flex-flow: column wrap-reverse;
    background-color:black;
    color:whitesmoke;
    font-size: 16px;
    justify-content: space-evenly;
    font-size: 16px
}
ul,ol{
   padding:0px;
   margin:0px;
   list-style: none;
   display:flex;
   flex-flow: column wrap-reverse;
    
}